/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
}

nav {
    display: flex;
    align-items: start;
}
nav a {
    margin-left: 80px;
    padding: 15px 0;
    border-top: 3px solid transparent;
}

nav a:focus {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

/* Search bar*/

.search {
    margin: 50px 0;
}

h1 {
    font-size: 22px;
    margin-bottom: 0;
}
.search p {
    /*margin: 10px 0 40px 0;*/
}

.search__form {
    margin: 40px 0;
    width: 380px;
    height: 50px;
    display: flex;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.fa-location-dot {
    color: black;
    font-size: 20px;
}

.icone-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}

.search__input {
    margin: auto;
    border: none;
    font-weight: bold;
    color: black;
}
::placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.search__input:focus {
    outline: none;
}

.search__submit {
    padding: 15px 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* Filters*/
.filters-bar {
    display: flex;
    align-items: center;
    margin: 30px 0;
    height: 50px;
}

.filters-bar h2 {
    font-size: 18px;
    margin-right: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    display: flex;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 12px 19px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px
}

.filter i {
    margin-right: 20px;
    font-size: 22px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}
.info {
    display: flex;
    align-items: center;
}

.info__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    margin-right: 10px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card__title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h2,
.hebergements h3,
.hebergements p,
.hebergements .card__rating {
    margin: 0;
    padding: 5px 0;
}

.hebergements h3 {
    font-size: 16px;
}

.hebergements__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements__cards {
    width: 100%;
    display: flex;
}

.hebergements__cards img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.hebergements__cards > *, .hebergements__cards > img > * {
    width: calc(100% / 3 - 10px);
}

.hebergements__cards .card {
    margin-top: 33px;
}

.hebergements__cards .card__txt {
    /*padding: 0 15px 10px 15px;*/
    padding: 5px 0 10px 15px;
}

.more {
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

    /****** Populaires ***********/
.populaires {
    width: 32%;
}

.section-title {
    margin: 0;
    font-size: 24px;
    padding: 5px 0 0;
}

.populaires__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires__cards .card {
    display: flex;
    align-items: center;
    height: 145px;
    margin-top: 45px;
}

.populaires__cards img{
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires__cards .card__content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires__cards .card__title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires__cards .card__rating {
    margin-bottom: 5px;
}

/* Activities */

.activities {
    padding: 30px;
    margin-bottom: 30px;
}

.activities a {
    margin-right: 30px;
}

.activities h2 {
    margin: 30px 0;
    font-size: 22px;
    font-weight: 700;
}

.activities h3 {
    margin: 0;
    font-size: 16px;
    padding: 20px 19px;
}

.activities__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activities__cards img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities__cards article {
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-bg-color);
}

.footer__lists {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer h2 {
    font-size: 18px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    margin: 10px 0;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires__cards a {
        width: 30%;
    }

    .populaires__cards .card__title {
        font-size: 14px;
    }

    .populaires__cards .card__subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}